Package: com.dude00000000001.InvertedColors
Name: Inverted Colors theme
Depends: com.anemonetheming.anemone
Version: 0.1.2-beta
Architecture: iphoneos-arm
Description: An unfinished theme that makes your icons inverted
Maintainer: dude00000000001
Author: dude00000000001
Section: Themes (SpringBoard)
